@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
  }
.border-top-rmv{
    border-bottom: none !important;
    /* min-height: 0px !important; */
}

.border-header{
    border-bottom:1px solid #d5d5d5;
}
.menu-top {
    text-align: center;
    margin-top: 16px;
}
.menu-top li a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #9A7B4F;
    line-height: 0.5;
    padding: 13px;
}
.menu-top-right{
    text-align: right;
    margin-top: 9px;
}


.menu-top-right li i{
    font-size: 18px;
    color: #9A7B4F;
    line-height: 0.1;
    padding: 13px;
}
.sale-color{
   color: #E6B325 !important;
}


.carousel {
    position: relative;
    border: none;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-bottom: 50px;
    margin-top: 0px;
}

footer {
    background-color: #795C34 !important;
}
.footbottom{
    background-color: #000;
}